<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
    <title>Informative Gaming</title>
</head>

<body style="background-color:#26292b">
    <div id="root"></div>
</body>

</html>